@model IEnumerable<InGameDemo.Core.Models.ProductViewForDto>
@{
    ViewData["Title"] = "Tüm Ürünler";
}

<div class="row">
    <div class="col-md-12">
        <h2>Tüm Ürünler</h2>
        <hr />
        @if (Model != null && Model.Any())
        {
            foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="product-box">
                        <div class="product-img">
                            <img src="@product.ImageUrl" />
                        </div>
                        <div class="product-content">
                            <h4 class="text-center">@product.Name</h4>
                            <p>@(!string.IsNullOrEmpty(product.Description) && product.Description.Length > 150 ? product.Description.Substring(0, 150) : product.Description)</p>
                        </div>
                        <div class="product-info">
                            <div class="pull-left">
                                <span><span class="glyphicon glyphicon-tag"></span> Fiyat : @product.Price.ToString("#.00")</span>
                                <br />
                                <span><span class="glyphicon glyphicon-user"></span> Ekleyen : @product.CreateUser</span>
                                <br />
                                <span><span class="glyphicon glyphicon-book"></span> Kategori : @product.CategoryName</span>
                            </div>
                            <div class="pull-right">
                                <a href="/Product/ProductDetail/@(Url.UrlFormat(product.Name))/@product.Id" class="btn btn-primary" style="margin: 15px 0 0 0;">Ürün Görüntüle</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-danger">
                <p>Henüz ürün yok. Ürün eklemek için <a asp-area="" asp-controller="Product" asp-action="NewProduct">tıklayınız</a></p>
            </div>
        }
    </div>
</div>